<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @forwarder.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @forwarder.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @forwarder.address %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @forwarder.alias %>
</p>

<%= link_to 'Edit', edit_forwarder_path(@forwarder) %> |
<%= link_to 'Back', forwarders_path %>
