<%= simple_form_for(@order) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :freight_type, as: :select, collection: [["Air", true], ["Sea", false]], :include_blank => false %>
      <%= f.input :date %>
      <%= f.input :invoice_numbers %>
      <%= f.association :customer , label_method: :first_name, value_method: :id %>
      <%= f.input :product_name %>
      <%= f.input :product_description %>
      <%= f.input :url %>
      <%= f.input :size_color %>
      <%= f.input :quantity %>
      <%= f.input :online_price %>
      <%= f.input :tml_price %>
      <%= f.input :estimated_weight %>
      <%= f.input :length %>
      <%= f.input :width %>
      <%= f.input :height %>
      <%= f.input :down_payment %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
