<%= simple_form_for(@order) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :order_date %>
      <%= f.input :invoice_number %>
      <%= f.association :customer, label_method: :first_name, value_method: :id , :include_blank=>false %>
      <table id="order_lines">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Description</th>
          <th >URL</th>
          <th>Size Color</th>
          <th>Quantity</th>
          <th>Online Price</th>
          <th>TML Price</th>
          <th>Freight Type</th>
        </tr>
        </thead>
        <tbody>
        <%= f.fields_for :order_lines do |builder| %>
            <%= render 'order_line_fields', :f => builder %>
        <% end %>
        </tbody>
      </table>
      <div class="links">
        <%= link_to_add_association f, :order_lines, {data: {:'association-insertion-method' => 'before'}} do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
        <% end %>


      </div>


    </div>




    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

