<p>
  <strong>Date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Invoice numbers:</strong>
  <%= @order.invoice_number %>
</p>

<p>
  <strong>Customers:</strong>
  <%= @order.customer_full_name %>
</p>
<table class="table table-hover">

<thead>
  <tr>
    <th>Product Name</th>
    <th>Product Description</th>
    <th>Size/Color</th>
    <th>Quantity</th>
    <th>Online Price</th>
    <th>TML Price</th>
    <th>Estimated Weight</th>
    <th>Estimated Volume</th>
    <th>Type Of Freight</th>
  </tr>
</thead>



    <% @order.order_lines.each do |order_line| %>
      <tr>
      <td><%= order_line.product_name %></td>
        <td><%= link_to(order_line.product_description, order_line.url , :target => "_blank") %></td>
        <td><%= order_line.size_color %></td>
        <td><%= order_line.quantity %></td>
        <td><%= order_line.online_price %></td>
        <td><%= order_line.tml_price %></td>
        <td><%= order_line.estimated_weight %></td>
        <td><%= order_line.volume_calc %></td>
        <td><%= order_line.freight_choice %></td>
        </tr>

    <% end %>


    </table>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
