<%= simple_form_for(@freight_bill) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :invoice_number %>
      <%= f.association :shipper, label_method: :company_name, value_method: :id %>
      <%= f.input :date %>
      <%= f.input :total_weight_in_lbs %>
      <%= f.input :total_volume_in_cft %>
      <%= f.input :cost %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
