
<h1>Listing order Statuses</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Ordered date</th>
      <th>Arrived in Mia</th>
      <th>Arrived Suriname</th>
      <th>Picked up</th>
      <th>Orders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.product_name %></td>
        <td><%= order_line.ordered_date %></td>
        <td><%= order_line.arrived_mia %></td>
        <td><%= order_line.arrived_sme %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New order status', order_lines_order_me_path %>
