<p id="notice"><%= notice %></p>

<p>
  <strong>Ordered date:</strong>
  <%= @order_line.ordered_date %>
</p>

<p>
  <strong>Arrived mia:</strong>
  <%= @order_line.arrived_mia %>
</p>

<p>
  <strong>Arrived sme:</strong>
  <%= @order_line.arrived_sme %>
</p>

<p>
  <strong>Picked up:</strong>
  <%= @order_line.picked_up %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @order_line.orders %>
</p>

<%= link_to 'Edit', edit_order_status_path(@order_line) %> |
<%= link_to 'Back', order_statuses_path %>
